 <div class="upper_bg">
     <div class="container">
         <div class="nav_bg">
             <div class="row">
                 <div class="col-md-6 col-7">
                     <%= image_tag 'logo.jpg', alt: 'icon', class: 'img-fluid' ,width: '277', height: '38' %></div>
                 <!--   <div class="col-md-6 col-5 logo"><img src="images/trustpilot.jpg" width="100" class="text-right" height="49" alt=""/></div>-->
             </div>
             <div class="clearfix"></div>
         </div>
         <div class="hading">
             <h2>Compare The UK’s Top 10 Income<br>
                 Growth Investment Opportunities in Minutes</h2>
         </div>

         <div class="row">
             <div class="col-md-7 col-12 bg-white form-div position-relative">
                 <form class="quiz_form" data-details="<%= @details %>" method="post" action="javascript:;"id="dealform" data-parsley-validate=""
                     novalidate="">
                     <!-- tab 1 -->
                     <div class="tab text-center" style="display: block;">
                         <div class="mt-4 text-center form-group">
                             <label class="d-flex justify-content-center form_had">
                                 Get Exclusive Investment<br>
                                 Opportunities in 30 Seconds
                             </label>
                             <p class="had_par">What’s your Investment Goal?</p>
                             <div class="row w-100 m-0 justify-content-around">
                                 <div class="col-md-6">
                                     <div class="my-2 w-100">
                                         <label for="what-bring"
                                             class="mx-md-4 radio-btn d-flex align-items-center justify-content-center">
                                             <h5 class="m-0">Income Investment</h5>
                                         </label>
                                         <input id="what-bring" name="what-bring"
                                             class="what-bring opacity-0 px-2 mx-auto rounded text-secondary form-control text-center d-none"
                                             data-parsley-required="true" data-parsley-group="block-0" type="radio"
                                             value="Income investment" required="" data-parsley-multiple="what-bring">
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="my-2 w-100">
                                         <label for="what-bring-growth"
                                             class="mx-md-4 radio-btn d-flex align-items-center justify-content-center">
                                             <h5 class="m-0">Capital Growth</h5>
                                         </label>
                                         <input id="what-bring-growth" name="what-bring"
                                             class="what-bring opacity-0 px-2 mx-auto rounded text-secondary form-control text-center d-none"
                                             data-parsley-required="true" data-parsley-group="block-0" type="radio"
                                             value="Capital Growth" required="" data-parsley-multiple="what-bring">
                                     </div>
                                 </div>
                             </div>
                             <div class="row w-100 m-0 justify-content-around">
                                 <div class="col-md-6">
                                     <div class="my-2 w-100">
                                         <label for="what-bring-both"
                                             class="mx-md-4 radio-btn d-flex align-items-center justify-content-center">
                                             <h5 class="m-0">Both</h5>
                                         </label>
                                         <input id="what-bring-both" name="what-bring"
                                             class="what-bring opacity-0 px-2 m-w mx-auto rounded text-secondary form-control text-center d-none"
                                             data-parsley-required="true" data-parsley-group="block-0" type="radio"
                                             value="Both" required="" data-parsley-multiple="what-bring">
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="my-2 w-100">
                                         <label for="what-bring-not"
                                             class="mx-md-4 radio-btn d-flex align-items-center justify-content-center">
                                             <h5 class="m-0">Not Sure</h5>
                                         </label>
                                         <input id="what-bring-not" name="what-bring"
                                             class="what-bring opacity-0 px-2 mx-auto rounded text-secondary form-control text-center d-none"
                                             data-parsley-required="true" data-parsley-group="block-0" type="radio"
                                             value="Not Sure" required="" data-parsley-multiple="what-bring">
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- tab 2 -->
                     <div class="tab text-center disp-none">
                         <div class="mt-4 text-center form-group ">
                             <label class="d-flex justify-content-center form_had">
                                 Do you want to get paid interest <br>Annually or monthly?
                             </label>
                             <div class="row w-100 m-0 justify-content-around">
                                 <div class="col-6 ">
                                     <label for="interest-paid-type" class="mx-md-4 p-2">
                                         <%=image_tag "img31.png", class: "img-m my-hover"%>
                                     </label>
                                     <h4 class="mx-md-4 px-md-1">Monthly</h4>
                                     <input id="interest-paid-type" name="interest-paid-type"
                                         class="interest-paid-type opacity-0 px-2 mx-auto rounded text-secondary form-control text-center position-absolute"
                                         data-parsley-required="true" data-parsley-group="block-1" type="radio"
                                         value="Monthly" required="" data-parsley-multiple="interest-paid-type">
                                 </div>
                                 <div class="col-6 ">
                                     <label for="interest-paid-type-yearly" class="mx-md-4 p-2">
                                         <%=image_tag "img-365.png", class: "img-y my-hover"%>
                                     </label>
                                     <h4 class="mx-md-4 px-md-2">Annually</h4>
                                     <input id="interest-paid-type-yearly" name="interest-paid-type"
                                         class="interest-paid-type opacity-0 px-2 mx-auto rounded text-secondary form-control text-center position-absolute"
                                         data-parsley-required="true" data-parsley-group="block-1" type="radio"
                                         value="Annually" required="" data-parsley-multiple="interest-paid-type">
                                 </div>
                             </div>
                         </div>
                         <div class="back-btn d-flex justify-content-center align-items-center">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                     </div>
                     <!-- tab 3 -->
                     <div class="tab text-center disp-none" style="">
                         <div class="text-center form-group">
                             <label class="d-flex justify-content-center form_had">
                                 Get Exclusive Investment <br>
                                 Opportunities in 30 Seconds
                             </label>
                             <p class="had_par">How much you would be looking to Invest?</p>
                             <div
                                 class="position-relative rangediv d-flex justify-content-center my-3 m-w mx-auto mt-5">
                                 <input class="invest-amount" id="invest-amount" type="range" min="5000" max="100000"
                                     step="1000" value="50000" name="invest-amount" data-parsley-group="block-2"
                                     required="">
                             </div>
                             <div class="mt-3"></div>
                             <button id="btn-next" type="button"
                                 class="btn-lg btn-next text-white rounded-lg font-weight-bold w-100 mt-3 hv-50 nextStep">
                                 Next
                             </button>
                         </div>
                         <div class="back-btn d-flex justify-content-center align-items-center">
                          <i class="fas fa-arrow-left"></i>
                        </div>
                     </div>
                     <!-- tab 4 -->
                     <div class="tab text-center disp-none">
                         <div class="row w-100 m-0">
                             <div
                                 class="col-md-6 mt-4 pl-md-0 pr-md-2 px-0 text-center form-group position-relative mb-md-3 mb-0">
                                 <label
                                     class="d-flex justify-content-center text-center font-weight-bold text-black f-25 mb-3 fs-md-21">
                                     What's your first name?
                                 </label>
                                 <input placeholder="First Name" id="first_name" name="first_name"
                                     class="first_name px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                     data-parsley-required="true"
                                     data-parsley-required-message="Please Enter First Name"
                                     data-parsley-group="block-3"
                                     data-parsley-pattern-message="First Name Must Be Alphabetic"
                                     data-parsley-pattern="/^[a-zA-Z ]*$/" type="text" required="">
                                 <i class="validate success fa fa-check-circle"></i>
                                 <i class="validate error fa fa-times-circle"></i>
                             </div>
                             <div class="col-md-6 mt-4 pr-md-0 pl-md-2 px-0 text-center form-group position-relative">
                                 <label
                                     class="d-flex justify-content-center text-center font-weight-bold text-black f-25 mb-3 fs-md-21">
                                     What's your last name?
                                 </label>
                                 <input placeholder="Last Name" id="last_name" name="last_name"
                                     class="last_name px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                     data-parsley-required="true" data-parsley-required-message="Please Enter Last Name"
                                     data-parsley-group="block-3"
                                     data-parsley-pattern-message="Last Name Must Be Alphabetic"
                                     data-parsley-pattern="/^[a-zA-Z ]*$/" type="text" required="">
                                 <i class="validate success fa fa-check-circle"></i>
                                 <i class="validate error fa fa-times-circle"></i>
                             </div>
                             <button id="btn-next2" type="button"
                                 class="btn-lg btn-next text-white rounded-lg font-weight-bold w-100 mt-4 hv-50 nextStep">
                                 Next
                             </button>
                         </div>
                         <div class="back-btn d-flex justify-content-center align-items-center">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                     </div>
                     <!-- tab 5 -->
                     <div class="tab text-center disp-none">
                         <div class="row w-100 m-0">
                             <div
                                 class="col-md-6 mt-4 pl-md-0 pr-md-2 px-0 text-center form-group position-relative mb-md-3 mb-0">
                                 <label class="text-start  w-100 mb-1 form-label"><strong>What's your email
                                         address?</strong></label>
                                 <input placeholder="Email" id="email" name="email"
                                     class="email px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                     data-parsley-required="true"
                                     data-parsley-required-message="Please Enter Valid Email Address"
                                     data-parsley-group="block-4" data-parsley-type="email" data-parsley-validemail
                                     type="email" required="">
                                 <i class="validate success fa fa-check-circle"></i>
                                 <i class="validate error fa fa-times-circle"></i>
                             </div>
                             <div
                                 class="col-md-6 mt-4 pl-md-0 pr-md-2 px-0 text-center form-group position-relative mb-md-3 mb-0">
                                 <label class="text-start  w-100 mb-1 form-label"><strong>Phone No</strong></label>
                                 <input placeholder="Phone No" id="phone" name="phone"
                                     class="phone px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                     data-parsley-required="true"
                                     data-parsley-required-message="Please Enter Valid Phone Number"
                                     data-parsley-group="block-4" data-parsley-type="number" data-parsley-validphone
                                     type="tel" required="">
                                 <i class="validate success fa fa-check-circle"></i>
                                 <i class="validate error fa fa-times-circle"></i>
                                 <div class="phoneerror"></div>

                             </div>
                             <div
                                 class="col-md-6 pl-md-0 pr-md-2 px-0 text-center form-group position-relative mb-md-3 mb-0">
                                 <label class="text-start  w-100 mb-1 form-label"><strong>Postal Code</strong></label>
                                 <div class="input-group mb-3">

                                     <%
=begin%>
 <input type="text"
                                         class="last_name px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                         id="postalcode" placeholder="Postal Code"> 
<%
=end%>
                                         <input name="postcode" required data-parsley-required="true"
                                             data-parsley-required-message="Please Enter Postcode"
                                             data-parsley-group="block-4" data-parsley-validapipostcode type="text"
                                             class="postcode form-control" placeholder="Postcode" style="height:50px">
                                     <div class="input-group-append">
                                         <span class="input-group-text"><button type="submit"
                                                 class="btn btn-primary">Find Address</button></span>
                                     </div>
                                     <div class="postcode-error"></div>
                                 </div>
                                 
                                 <i class="validate success fa fa-check-circle"></i>
                                 <i class="validate error fa fa-times-circle"></i>
                             </div>
                             <div class="col-md-6 pr-md-0 pl-md-2 px-0 text-center form-group position-relative">

                                 <div class="form-group col-lg-12 property-div disp-none">
                                     <label class="text-start  w-100 mb-1 form-label"><strong>Your
                                             Property</strong></label>
                                     <input type="hidden" name="towncity" class="towncity" value="Bradford">
                                     <input type="hidden" name="street1" class="street1" value="89 Westgate">
                                     <input type="hidden" name="county" class="county" value="West Yorkshire">
                                     <input type="hidden" name="houseNumber" class="houseNumber" value="">
                                     <input type="hidden" name="street2" class="street2" value="">
                                     <input type="hidden" name="building" class="building" value="89">
                                     <select id="property" name="property"
                                         class="last_name px-2 hv-50 mx-auto border border-secondary bg-white rounded text-secondary form-control"
                                         data-parsley-required="true"
                                         data-parsley-required-message="Please Select Your property"
                                         data-parsley-group="block-4" required="" data-parsley-id="35">
                                         <option disabled="" selected="">
                                             Select Your Property
                                         </option>

                                         <option data-street="1 Baptist Place" data-city="Bradford"
                                             data-address="1 Baptist Place   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="1">
                                             1 Baptist Place Bradford West Yorkshire
                                         </option>

                                         <option data-street="2" data-city="Bradford"
                                             data-address="2 In 1 Grill Diner 57-59 Westgate Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="In 1 Grill Diner"
                                             data-building="57-59">
                                             2 In 1 Grill Diner 57-59 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="61a Westgate" data-city="Bradford"
                                             data-address="61a Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="61a">
                                             61a Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="63 Westgate" data-city="Bradford"
                                             data-address="63 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="63">
                                             63 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="67 Westgate" data-city="Bradford"
                                             data-address="67 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="67">
                                             67 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="73 Westgate" data-city="Bradford"
                                             data-address="73 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="73">
                                             73 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="89 Westgate" data-city="Bradford"
                                             data-address="89 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="89">
                                             89 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="90 Westgate" data-city="Bradford"
                                             data-address="90 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="90">
                                             90 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="91 Westgate" data-city="Bradford"
                                             data-address="91 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="91">
                                             91 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="93 Westgate" data-city="Bradford"
                                             data-address="93 Westgate   Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="" data-building="93">
                                             93 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Adrian Philips" data-city="Bradford"
                                             data-address="Adrian Philips 77 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="77 Westgate"
                                             data-building="77">
                                             Adrian Philips 77 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Betty Charles Retail Outlet Ltd" data-city="Bradford"
                                             data-address="Betty Charles Retail Outlet Ltd 51 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="51 Westgate"
                                             data-building="51">
                                             Betty Charles Retail Outlet Ltd 51 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Frame One Snooker Club" data-city="Bradford"
                                             data-address="Frame One Snooker Club Textile Hall Westgate Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="Textile Hall"
                                             data-building="Textile Hall">
                                             Frame One Snooker Club Textile Hall Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Hair Studio" data-city="Bradford"
                                             data-address="Hair Studio 53 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="53 Westgate"
                                             data-building="53">
                                             Hair Studio 53 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Hein Gericke (UK) Ltd" data-city="Bradford"
                                             data-address="Hein Gericke (UK) Ltd 81-83 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="81-83 Westgate"
                                             data-building="81-83">
                                             Hein Gericke (UK) Ltd 81-83 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="M G International" data-city="Bradford"
                                             data-address="M G International 51 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="51 Westgate"
                                             data-building="51">
                                             M G International 51 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Mannings Musicals" data-city="Bradford"
                                             data-address="Mannings Musicals 75 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="75 Westgate"
                                             data-building="75">
                                             Mannings Musicals 75 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Northern Drum Centre" data-city="Bradford"
                                             data-address="Northern Drum Centre 87 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="87 Westgate"
                                             data-building="87">
                                             Northern Drum Centre 87 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Pound Empire" data-city="Bradford"
                                             data-address="Pound Empire Textile Hall 49 Westgate Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="Textile Hall"
                                             data-building="49">
                                             Pound Empire Textile Hall 49 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Queens Snooker" data-city="Bradford"
                                             data-address="Queens Snooker 49 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="49 Westgate"
                                             data-building="49">
                                             Queens Snooker 49 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Star Hotel" data-city="Bradford"
                                             data-address="Star Hotel Textile Hall 49 Westgate Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="Textile Hall"
                                             data-building="49">
                                             Star Hotel Textile Hall 49 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Stratford Salon Gents Hairdressers" data-city="Bradford"
                                             data-address="Stratford Salon Gents Hairdressers 65 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="65 Westgate"
                                             data-building="65">
                                             Stratford Salon Gents Hairdressers 65 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="W Snooker Lounge" data-city="Bradford"
                                             data-address="W Snooker Lounge Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="Westgate"
                                             data-building="W Snooker Lounge">
                                             W Snooker Lounge Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Westgate Audio Visual Ltd" data-city="Bradford"
                                             data-address="Westgate Audio Visual Ltd 79 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="79 Westgate"
                                             data-building="79">
                                             Westgate Audio Visual Ltd 79 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Westgate Fisheries" data-city="Bradford"
                                             data-address="Westgate Fisheries 61 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="61 Westgate"
                                             data-building="61">
                                             Westgate Fisheries 61 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Westgate International Food" data-city="Bradford"
                                             data-address="Westgate International Food 93 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="93 Westgate"
                                             data-building="93">
                                             Westgate International Food 93 Westgate Bradford West Yorkshire
                                         </option>

                                         <option data-street="Westgate Phones" data-city="Bradford"
                                             data-address="Westgate Phones 55 Westgate  Bradford West Yorkshire"
                                             data-province="West Yorkshire" data-street2="55 Westgate"
                                             data-building="55">
                                             Westgate Phones 55 Westgate Bradford West Yorkshire
                                         </option>
                                     </select>


                                     <form class="row g-3">


                                         <i class="validate success fa fa-check-circle"></i>
                                         <i class="validate error fa fa-times-circle"></i>
                                 </div>
                             </div>
                             <div class="row align-items-center justify-content-center mt-4">
                                <div class="checkbox-col col-lg-8 text-center">
                                    <div class="checkbox-area position-relative"> 
                                                    <div class="form-check form-switch bg-light">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Accept Terms &amp; Conditions.</label>
                                    </div>
                                    </div>
                                    <div class="error-checkbox newcheckbox"></div>
                                    <div class="my-3">
                                    <p>By checking this box you confirm that you understand the Investment privacy policy and opt-in that you will be contacted.</p>
                                    </div>
                                </div>
                                </div>
                             <input type="hidden" name="lid" id="clickid" value="">
                             <input type="hidden" name="aid" id="aid" value="">
                             <input id="btn-submit" value="Compare Now!" type="submit" class="Compare_now">

                         </div>
                         <div class="back-btn d-flex justify-content-center align-items-center">
                         <i class="fas fa-arrow-left"></i>
                        </div>
                     </div>
                     <div class="progress mt-2 mb-4">
                         <div id="progressBar" class="progress-bar progress-bar-striped bg-success" role="progressbar"
                             style="width: 0%"></div>
                     </div>

                 </form>
             </div>

             <div class="col-md-5 col-12">
                 <div class="points">
                     <ul>
                         <li>
                             <span>
                                 <%=image_tag "check.png", class: "img-fluid", width:"26", height: "26"%>
                             </span>
                             <span>Discover Top Income, Growth and<br>
                                 Tax-Free Investment Plans.</span>
                         </li>

                         <li>
                             <span>
                                 <%=image_tag "check.png", class: "img-fluid", width:"26", height: "26"%>
                             </span>
                             <span>Compare UK’s
                                 Top 10<br> Investment Plans.</span>
                         </li>

                         <li>
                             <span>
                                 <%=image_tag "check.png", class: "img-fluid", width:"26", height: "26"%>
                             </span>
                             <span>Join the Millions of Investors Profiting<br>
                                 from the Top Investment Plans.</span>
                         </li>

                     </ul>

                 </div>
             </div>
         </div>
     </div>
 </div>
 <div class="container mt-4 mb-4">
     <div class="row">
         <div class="col-md-4 col-12">
             <div class="feature mt-2 mb-2">
                 <span>
                     <%=image_tag "f1.png",  width:"36", height: "36"%>
                 </span>
                 <a>Quick and <br>
                     Easy Comparisons</a>
             </div>
         </div>

         <div class="col-md-4 col-12">
             <div class="feature mt-2 mb-2">
                 <span>
                     <%=image_tag "f2.png",  width:"36", height: "36"%>
                 </span>
                 <a class="mt-3">£ High ROI</a>
             </div>
         </div>

         <div class="col-md-4 col-12">
             <div class="feature mt-2 mb-2">
                 <span>
                     <%=image_tag "f3.png",  width:"36", height: "36"%>
                 </span>
                 <a class="mt-3">No Hidden Fees</a>
             </div>
         </div>

     </div>
 </div>

 <div class="container">
     <div class="feature_had mt-5">
         <h1>The <span>UK’s No.1</span> Investment<br>
             Comparison Website</h1>
     </div>
     <div class="row">
         <div class="col-md-3 col-12">
             <div class="comp_box">
                 <div class="comp_box_bg">
                     <h2 class="pt-3">Simple Solutions</h2>
                     <div class="clearfix"></div>
                     <div class="cercle">
                         <%=image_tag "feat1.png",  width:"50", height: "36", class: "img-fluid"%>
                     </div>
                 </div>
                 <div class="comp_box_bg01">
                     <h3>£5,000</h3>
                     <p>Minimum Deposit</p>
                 </div>
             </div>
         </div>

         <div class="col-md-3 col-12">
             <div class="comp_box">
                 <div class="comp_box_bg">
                     <h2 class="pt-3">Helping Investors</h2>
                     <div class="clearfix"></div>
                     <div class="cercle">
                         <%=image_tag "feat2.png",  width:"50", height: "36", class: "img-fluid"%>
                     </div>

                 </div>
                 <div class="comp_box_bg01">
                     <h3>BECOME A PART</h3>
				    <p>OF THE BUSINESS YOU”RE PROUD</p>
                 </div>
             </div>
         </div>

         <div class="col-md-3 col-12">
             <div class="comp_box">
                 <div class="comp_box_bg">
                     <h2 class="pt-3">Quick Comparison</h2>
                     <div class="clearfix"></div>
                     <div class="cercle">
                         <%=image_tag "feat3.png",  width:"50", height: "36", class: "img-fluid"%>
                     </div>

                 </div>
                 <div class="comp_box_bg01">
                     <h3>30 Secs</h3>
                     <p>SECONDS TO COMPLETE</p>
                 </div>
             </div>
         </div>

         <div class="col-md-3 col-12">
             <div class="comp_box">
                 <div class="comp_box_bg">
                     <h2 class="pt-3">Highly Rated</h2>
                     <div class="clearfix"></div>
                     <div class="cercle">
                         <%=image_tag "feat4.png",  width:"50", height: "36", class: "img-fluid"%>
                     </div>

                 </div>
                 <div class="comp_box_bg01">
                     <h3>
                         <%=image_tag "star.png",  width:"131", height: "24", class: "img-fluid"%>
                     </h3>
                     <p>By Our Customers</p>
                 </div>
             </div>
         </div>
     </div>
     <div class="clearfix"></div>

     <div class="privacy mt-5">
        <h4><a href="/terms-and-condition" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Terms & Conditions</a> | <a href="/privacy-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Privacy Policy</a> | <a href="/cookie-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Cookie Policy</a></h4>
        <div class="container" >
            <h1>Risk Warnings and Disclaimer</h1>
            The value of stocks and shares and any dividend income, may fall as well as rise, and is not guaranteed so you may get back less than you invested. You should not invest any money you can’t afford to lose and should not rely on any dividend income to meet your living expenses. Stocks listed on overseas exchanges may be subject to additional dealing and exchange rate charges, administrative costs, withholding taxes, different accounting and reporting standards, may have other tax implications, and may not provide the same, or any, regulatory protection. Exchange rate charges may adversely affect the value of shares in sterling terms, and you could lose money in sterling even if the stock rises in the currency of origin. Any performance statistics that do not adjust for exchange rate changes are likely to result in inaccurate real returns for sterling-based UK investors.<br>
            <br>
            We have taken reasonable steps to ensure that any information provided is accurate at the time of publishing. Any opinions expressed are the opinions of the author only. The content provided in this article has not taken into account the circumstances of any specific individual and does not constitute personal advice or a personal recommendation for any individual; neither should it be relied upon by any individual when making an investment decision. If you require any personal advice or personal recommendation, please speak to an independent qualified financial adviser. No liability is accepted by the author, https://top10investment.com/ or its offices, or ESL CONSULTANCY SERVICES LTD or its Officers, for any investment loss, or any other loss or detriment experienced by any individual for any investment decision, whether consequent to, or in any way related to this content, the provision of which is an unregulated activity. The Financial Ombudsman Service and Financial Services Compensation Scheme may consider certain investment related claims. Please refer to FOS and FSCS for up-to-date information, including eligibility criteria.<br>
            <br>
            We do not provide personal advice nor will we arrange any product on your behalf. Should you require advice you should speak to a qualified financial adviser.<br>
            <br>
            This website is owned and operated by ESL CONSULTANCY SERVICES LTD a company registered in the United Kingdom, with its registered address at Xl House Mill Court, Spindle Way, Crawley, West Sussex, England, RH10 1TT.<br>
            <br>
            Company registration number 11483654 - Incorporated on 25 July 2018<br>
            <br>
            FCA Registration Details: Address: 18 The Boulevard, Horsham, West Sussex, RH12 1EP, UNITED KINGDOM<br>
            <br>
            Firm Reference Number: 835333<br>
        </div>
      </div>
 </div>
 <div class="container-fluid ftr_bg mt-5">
     <h6>All rights Reserved. © 2022 <strong>Go4.finance</strong></h6>
 </div>